@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*************************
****Header Section Starts
**************************/
header{
    background-color: #2D25A0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 677px;
    width: 100%;
}

header h1{
    width: 485px;
    height: 230px;
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 156px;
    margin-top: 187px;
}

header img{
    width: 556.01px;
    height: 438px;
    margin-left: 86px;
    margin-top: 135px;
}

header button{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 7px;
    border: 0px solid #E02C6D;
    text-decoration: none;
    margin: 26px 0px 0px 156px;
}

header i{
    align-items: center;
    height: 24px;
    width: 24px;
    margin-left: 3px;
}

/*************************
****Header Section Ends
**************************/


/*************************
****Player Details Section Starts
**************************/

#Player-Section{
    height: 3072px;
    width: 100%;
    background-color: #FFFFFF;
}
#PlayerDetails-Section{
    margin: 70px 0px 0px 240px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    grid-row-gap: 28px;
    border: 1px solid red;
    width: 67%;
}

.Each-Player-Details{
    width: 320px;
    height: 474px;
    box-shadow: 0px 0px 20px rgb(173, 173, 173);
}

.Each-Player-Details h1{
    font-size: 28px;
    font-weight: bold;
    color: #18191F;
    height: 40px;
    width: 290px;
    margin: 15px 0px 0px 15px;
}

.Each-Player-Details h3{
    font-size: 16px;
    font-weight: initial;
    color: #6C6C6C;
    height: 104px;
    width: 290px;
    margin: 15px 0px 0px 15px;
}

.Each-Player-Details img{
    height: 256px ;
    width: 290px;
    margin: 15px 0px 0px 15px;
}





/*************************
****Player Details Section Ends
**************************/










/*************************
****Media Query Starts
**************************/
@media only screen and (max-width:700px) {
    header{
       grid-template-columns: repeat(1,1fr);
       height: 800px;
       margin-top: -150px;
       width: 100%;
       border: 1px solid rgb(49, 3, 3);
    }
    #Header-LeftSide{
        /* margin-left: -130px; */
        border: 1px solid red;
    }
    header h1{
        width: 278px;
        height: 138px;
        font-size: 36px;
        font-weight: bold;
        margin-left: 20px;
       
    }
    header button{
        margin-left: 20px;
    }
    header img{
        width: 299px;
        height: 260px;
        margin-top: 10px;
        justify-content: center;
        margin-left: 15px;
    }
    #Player-Section{
        justify-content: center;
        height: 6030px;
        border: 1px solid rgb(0, 98, 255);
    }
    #PlayerDetails-Section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        border: 1px solid red;
        width: 100%;
        gap: 24px;
        margin: 47px 0% 0% 0%;
    }
    .Each-Player-Details{
        border: 1px solid rgb(0, 255, 55);
        position: relative;
        justify-content: center;
        /* margin: 0% 0% 0% 2%; */
    }
   
   
}


/*************************
****Media Query Ends
**************************/