@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*************************
****Header Section Starts
**************************/
header{
    background-color: #2D25A0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 677px;
    width: 100%;
}

@keyframes colorChanging {
    from{
        color: rgb(27, 25, 29);
    }
    to{
        color: rgb(255, 255, 255);
    }
}
header h1{
    width: 485px;
    height: 230px;
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 156px;
    margin-top: 187px;

    animation-name: colorChanging;
    animation-duration: 4s;
    animation-iteration-count: infinite;
   
}
/* header h1:hover{
    animation: colorChanging 1s ease 0.5 infinite alternate;
} */

header img{
    width: 556.01px;
    height: 438px;
    margin-left: 86px;
    margin-top: 135px;
}

header button{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 7px;
    border: 0px solid #E02C6D;
    text-decoration: none;
    margin: 26px 0px 0px 156px;
}

header i{
    align-items: center;
    height: 24px;
    width: 24px;
    margin-left: 3px;
}

/*************************
****Header Section Ends
**************************/


/*************************
****Player Details Section Starts
**************************/

#Player-Section{
    height: 3372px;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid rgb(0, 98, 255);
}
#PlayerDetails-Section{
    margin: 70px 0px 0px 240px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    grid-row-gap: 28px;
    border: 1px solid red;
    width: 67%;
}

.Each-Player-Details{
    width: 320px;
    height: 474px;
    box-shadow: 0px 0px 20px rgb(173, 173, 173);
}

.Each-Player-Details h1{
    font-size: 28px;
    font-weight: bold;
    color: #18191F;
    height: 40px;
    width: 290px;
    margin: 15px 0px 0px 15px;
}

.Each-Player-Details h3{
    font-size: 16px;
    font-weight: initial;
    color: #6C6C6C;
    height: 104px;
    width: 290px;
    margin: 15px 0px 0px 15px;
}

.Each-Player-Details img{
    height: 256px ;
    width: 290px;
    margin: 15px 0px 0px 15px;
}



/*************************
****Player Details Section Ends
**************************/


hr{
    width: 85%;
    margin-top: 10%;
}

/*************************
****Highlights Section Starts
**************************/

#Highlightes-Section{
    margin-top: 10%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 1px solid red;
    width: 80%;
}

iframe{
 
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 40px rgb(0, 0, 0);
}

#Highlight-Details{
    margin-left: 32%;
}
#Highlightes-Section h1{
    font-size: 26px;
    font-weight: bold;
    color: rgb(236, 25, 25);
}

#Highlightes-Section h3{
    width: 70%;
    font-size: 16px;
    font-weight: bold;
    color: rgb(55, 55, 58);
}
#Highlight-Details button{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    font-size: 16px;
    color: #FFFFFF;
    border: 0px solid #E02C6D;
    text-decoration: none;
}

/*************************
****Highlights Section Ends
**************************/


/*************************
****News Section Starts
**************************/
#News-Section>h1{
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-left: 10%;
    margin-top: 10%;
}

#FootBall-News-Details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 10%;
    border: 1px solid rgb(238, 255, 0);
    width: 80%;
    margin-top: 4%;
    margin-left: 10%;
}


.Each-News{
   display: flex;
   justify-content: center;
   border: 1px solid rgb(0, 255, 55);
   border-radius: 6px;
   box-shadow: 0px 0px 20px rgb(148, 148, 148);
   background-color: rgb(237, 237, 241);
}

.Each-News:hover{
    transform: scale(1.05);
     transition: transform 0.4s ease-in; 
}

.Each-News a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 255);
}

.Each-News h1{
    font-size: 25px;
    font-weight: 900;
    color: rgb(255, 0, 0);
    margin-top: -2%;
}
.Each-News h3{
    font-size: 15px;
    font-weight: initial;
    color: rgb(59, 54, 54);
    margin-top: -7%;
}

.Each-News img{
    width: 200px;
    height: 130px;
  
}

.News-Details{
    margin-left: 5%;
}

.News-Details h2{
    font-size: 18px;
    color: rgb(238, 218, 43);
}

/*************************
****News Section Ends
**************************/


/*************************
****Footer Starts
**************************/
footer{
    border:1px solid lightsalmon;
}

footer img{
    margin-left: 33%;
    height: 40%;
    width:30%;
}

#Footer-Logo{
    width: 17%;
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 40%;
    margin-top: 2%;
}

footer i{
    color: rgb(163, 163, 163);
    font-size: 170%;
    /* margin-left: 3%; */
}

footer h1{
    margin-left: 40%;
    font-size: 130%;
}
/*************************
****Footer Ends
**************************/








/*************************
****Media Query Starts
**************************/
@media only screen and (max-width:700px) {
    header{
       grid-template-columns: repeat(1,1fr);
       height: 800px;
       margin-top: -150px;
       width: 100%;
       border: 1px solid rgb(49, 3, 3);
    }
    #Header-LeftSide{
        /* margin-left: -130px; */
        border: 1px solid red;
    }
    header h1{
        width: 278px;
        height: 138px;
        font-size: 36px;
        font-weight: bold;
        margin-left: 20px;
       
    }
    header button{
        margin-left: 20px;
    }
    header img{
        width: 299px;
        height: 260px;
        margin-top: 10px;
        justify-content: center;
        margin-left: 15px;
    }
    #Player-Section{
        justify-content: center;
        height: 8160px;
        border: 1px solid rgb(0, 255, 128);
    }
    #PlayerDetails-Section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        border: 1px solid red;
        width: 100%;
        gap: 24px;
        margin: 47px 0% 0% 0%;
    }
    .Each-Player-Details{
        border: 1px solid rgb(0, 255, 55);
        position: relative;
        justify-content: center;
        /* margin: 0% 0% 0% 2%; */
    }

    #Highlightes-Section{
        
       
        grid-template-columns: repeat(1,1fr);
        border: 1px solid red;
       
    }
 

    #FootBall-News-Details{
        grid-template-columns: repeat(1,1fr);
        border: 1px solid rgb(0, 17, 255);
       
    }
    .Each-News img{
        width: 80%;
        margin-left: 10%;
    }
    .Each-News{
       display: block;
       margin-top: 15%;
    }
    footer img{
        width: 60%;
        margin-left: 20%;
    }
    footer h1{
        margin-left: 20%;
    }
   
}


/*************************
****Media Query Ends
**************************/